<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css"
  href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css"
  href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">

<script>
  const search = instantsearch({
    appId: '{{ site.algolia.application_id }}',
    apiKey: '{{ site.algolia.search_only_api_key }}',
    indexName: '{{ site.algolia.index_name }}'
  });

  const hitTemplate = function (hit) {
    let url = `${hit.url}#${hit.anchor}`;

    let breadcrumbs = '';
    if (hit._highlightResult.headings) {
      breadcrumbs = hit._highlightResult.headings.map(match => {
        return `<span class="breadcrumb">${match.value}</span>`
      }).join(' > ')
    }

    return `
    <a href="${url}" class="page-item">
      <h2 class="page-link">${hit._highlightResult.title.value}</h2>
      {{#breadcrumbs}}<div class="breadcrumbs">${breadcrumbs}</div>{{/breadcrumbs}}
      <div class="page-snippet">${hit._highlightResult.html.value}</div>
    </a>
  `;
  }


  search.addWidget(
    instantsearch.widgets.searchBox({
      container: '#search-searchbar',
      placeholder: 'Search the docs...',
      poweredBy: false
    })
  );

  search.addWidget(
    instantsearch.widgets.hits({
      container: '#search-hits',
      templates: {
        item: hitTemplate
      }
    })
  );

  document.querySelector('#search-searchbar').addEventListener('click', () => {
    document.querySelector('#search-hits').classList.toggle('open');
  });

  search.start();
</script>
