<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css"
  href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css"
  href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">

<script>
  const search = instantsearch({
    appId: '{{ site.algolia.application_id }}',
    apiKey: '{{ site.algolia.search_only_api_key }}',
    indexName: '{{ site.algolia.index_name }}'
  });

  const hitTemplate = function (hit) {
    let url = `${hit.url}#${hit.anchor}`;

    let breadcrumbs = '';
    if (hit._highlightResult.headings) {
      breadcrumbs = hit._highlightResult.headings.map(match => {
        return `<span class="breadcrumb">${match.value}</span>`
      }).join(' > ')
    }

    return `
    <div class="page-item" onclick="window.location.href = '${url}'">
      <h2 class="page-link">${hit._highlightResult.title.value}</h2>
      {{#breadcrumbs}}<div class="breadcrumbs">${breadcrumbs}</div>{{/breadcrumbs}}
      <div class="page-snippet">${hit._highlightResult.html.value}</div>
    </div>
  `;
  }


  search.addWidget(
    instantsearch.widgets.searchBox({
      container: '#search-searchbar',
      placeholder: 'Search the docs...',
      poweredBy: false
    })
  );

  search.addWidget(
    instantsearch.widgets.hits({
      container: '#search-hits',
      templates: {
        item: hitTemplate
      }
    })
  );

  const searchResults = document.querySelector('#search-hits');
  const searchBoxQuery = '.ais-search-box--input';
  const searchBar = document.querySelector('#search-searchbar');

  const open = () => searchResults.classList.add('open');
  const close = () => searchResults.classList.remove('open');
  const focus = () => document.querySelector(searchBoxQuery).focus();

  searchBar.addEventListener('keydown', () => open());
  searchBar.addEventListener('click', e => {
    if (searchResults.classList.contains('open')
      && e.target.tagName != 'INPUT') {
      close();
    } else {
      open();
    }
  });
  document.addEventListener('click', e =>
    !(e.target.classList.contains('ais-search-box--input')
      || e.target.id == 'search-hits') && close());
  document.addEventListener('keydown', e => {
    e.key == 'Escape' && close();
    if (e.key == '/' || e.keyCode == 75) {
      if (!searchResults.classList.contains('open')
        || document.querySelector(searchBoxQuery) != document.activeElement) {
        e.preventDefault();
      }
      open();
      focus();
    }
  });

  search.start();
</script>
