{%- assign bom_category = page.path | remove: ".md" -%}
{%- assign product_line = site.title | remove: "FarmBot " | remove: " Documentation" -%}

<div class="bom-table-container">
  <table>
    {% comment %}<!-- Header -->{% endcomment %}
    <thead>
      <th class="part"><i></i></th>
      <th class="notes internal"><i></i></th>
      <th><i></i></th>
      <th class="farmbot-model" colspan="2">
        {{ product_line }}
      </th>
      <th class="farmbot-model" colspan="2">
        {{ product_line }}
        <span class="fb-xl-sticker">XL</span>
      </th>
    </thead>
    <thead>
      <th class="part">Part</th>
      <th class="notes internal">Notes</th>
      <th class="price">Price</th>
      <th class="cost internal">Cost</th>
      <th class="qty">Qty</th>
      <th class="price-subtotal">Subtotal</th>
      <th class="cost-subtotal internal">Subtotal</th>
      <th class="qty">Qty</th>
      <th class="price-subtotal">Subtotal</th>
      <th class="cost-subtotal internal">Subtotal</th>
    </thead>

    {% comment %}<!-- Part rows -->{% endcomment %}
    <tbody>
    {% assign total_quantity_standard = 0 %}
    {% assign total_quantity_xl = 0 %}
    {% assign total_price = 0 %}
    {% assign total_xl_price = 0 %}
    {% assign total_cost = 0 %}
    {% assign total_xl_cost = 0 %}
    {% for part in site.pages %}
      {%- if part.dir contains bom_category and part.specs -%}
        {% comment %}<!-- Parts with variants -->{% endcomment %}
        {%- if part.variants -%}
          {% assign variants = part.variants | split: "|" %}
          {% assign internal_names = part.internal-specs.internal-part-name | split: "|" %}
          {% assign revs = part.internal-specs.rev | split: "|" %}
          {% assign notes = part.internal-specs.notes | split: "|" %}
          {% assign prices = part.price | split: "|" %}
          {% assign costs = part.internal-specs.cost | split: "|" %}
          {% assign quantities_standard = part.quantity.standard | split: "|" %}
          {% assign quantities_xl = part.quantity.xl | split: "|" %}
            {%- for variant in variants -%}
            {% assign internal_name = internal_names[forloop.index0] %}
            {% assign rev = revs[forloop.index0] %}
            {% if part.internal-specs.notes contains "|" %}
              {% assign note = notes[forloop.index0] %}
            {% else %}
              {% assign note = part.internal-specs.notes %}
            {% endif %}
            {% assign price = prices[forloop.index0] %}
            {% assign cost = costs[forloop.index0] %}
            {% assign quantity_standard = quantities_standard[forloop.index0] %}
            {% assign quantity_xl = quantities_xl[forloop.index0] %}
            <tr>
              <td class="part">
                <a href="{{ part.url | remove: '.html' }}#" class="part-name">{{ part.title }} - {{ variant }}</a>
                <a href="{{ part.url | remove: '.html' }}#" class="internal-part-name internal">{{ internal_name }}</a>
                {% if rev %}
                  <span class="rev internal">Rev {{ rev }}</span>
                {% endif %}
              </td>
              <td class="notes internal">{{ note | default: "---" }}</td>
              <td class="price">{{ price }}</td>
              <td class="cost internal">{{ cost }}</td>
              <td class="qty" qty="{{ quantity_standard }}">
                <span>{{- quantity_standard -}}</span>
              </td>
              {%- assign price_subtotal = price | remove: "$" | times: quantity_standard -%}
              <td class="price-subtotal">{% include format_price.html price=price_subtotal %}</td>
              {% assign cost_subtotal = cost | remove: "$" | times: quantity_standard %}
              <td class="cost-subtotal internal">{% include format_price.html price=cost_subtotal %}</td>
              <td class="qty" qty="{{ quantity_xl }}">
                <span>{{- quantity_xl -}}</span>
              </td>
              {%- assign xl_price_subtotal = price | remove: "$" | times: quantity_xl -%}
              <td class="price-subtotal">{% include format_price.html price=xl_price_subtotal %}</td>
              {% assign xl_cost_subtotal = cost | remove: "$" | times: quantity_xl %}
              <td class="cost-subtotal internal">{% include format_price.html price=xl_cost_subtotal %}</td>
            </tr>
            {% comment %}<!-- Add variant to TOTAL -->{% endcomment %}
            {% assign total_quantity_standard = total_quantity_standard | plus: quantity_standard %}
            {% assign total_quantity_xl = total_quantity_xl | plus: quantity_xl %}
            {% assign total_price = total_price | plus: price_subtotal %}
            {% assign total_xl_price = total_xl_price | plus: xl_price_subtotal %}
            {% assign total_cost = total_cost | plus: cost_subtotal %}
            {% assign total_xl_cost = total_xl_cost | plus: xl_cost_subtotal %}
          {%- endfor -%}

        {% comment %}<!-- Parts without variants -->{% endcomment %}
        {%- else -%}
        <tr>
          <td class="part">
            <a href="{{ part.url | remove: '.html' }}#" class="part-name">{{ part.title }}</a>
            <a href="{{ part.url | remove: '.html' }}#" class="internal-part-name internal">{{ part.internal-specs.internal-part-name }}</a>
            {% if part.internal-specs.rev %}
              <span class="rev internal">Rev {{ part.internal-specs.rev }}</span>
            {% endif %}
          </td>
          <td class="notes internal">{{ part.internal-specs.notes | default: "---" }}</td>
          <td class="price">{{ part.price }}</td>
          <td class="cost internal">{{ part.internal-specs.cost }}</td>
          <td class="qty" qty="{{ part.quantity.standard }}">
            <span>{{ part.quantity.standard }}</span>
          </td>
          {% assign price_subtotal = part.price | remove: "$" | times: part.quantity.standard %}
          <td class="price-subtotal">{% include format_price.html price=price_subtotal %}</td>
          {% assign cost_subtotal = part.internal-specs.cost | remove: "$" | times: part.quantity.standard %}
          <td class="cost-subtotal internal">{% include format_price.html price=cost_subtotal %}</td>
          <td class="qty" qty="{{ part.quantity.xl }}">
            <span>{{ part.quantity.xl }}</span>
          </td>
          {% assign xl_price_subtotal = part.price | remove: "$" | times: part.quantity.xl %}
          <td class="price-subtotal">{% include format_price.html price=xl_price_subtotal %}</td>
          {% assign xl_cost_subtotal = part.internal-specs.cost | remove: "$" | times: part.quantity.xl %}
          <td class="cost-subtotal internal">{% include format_price.html price=xl_cost_subtotal %}</td>
        </tr>
        {% comment %}<!-- Add part to TOTAL -->{% endcomment %}
        {% assign total_quantity_standard = total_quantity_standard | plus: part.quantity.standard %}
        {% assign total_quantity_xl = total_quantity_xl | plus: part.quantity.xl %}
        {% assign total_price = total_price | plus: price_subtotal %}
        {% assign total_xl_price = total_xl_price | plus: xl_price_subtotal %}
        {% assign total_cost = total_cost | plus: cost_subtotal %}
        {% assign total_xl_cost = total_xl_cost | plus: xl_cost_subtotal %}
        {%- endif -%}
      {% endif %}
    {% endfor %}
    </tbody>

    {% comment %}<!-- Footer -->{% endcomment %}
    <tfoot>
      <td>TOTAL</td>
      <td class="notes internal"><i></i></td>
      <td><i></i></td>
      <td class="qty">{{ total_quantity_standard }}</td>
      <td class="price">{% include format_price.html price=total_price %}</td>
      <td class="cost internal">{% include format_price.html price=total_cost %}</td>
      <td class="qty">{{ total_quantity_xl }}</td>
      <td class="price">{% include format_price.html price=total_xl_price %}</td>
      <td class="cost internal">{% include format_price.html price=total_xl_cost %}</td>
    </tfoot>
  </table>
</div>