<div class="callout {{ include.type }}">
  {%- capture icon -%}
  {%- if include.type == 'success' -%}
  fa-check-square
  {%- elsif include.type == 'info' -%}
  fa-info-circle
  {%- elsif include.type == 'warning' -%}
  fa-exclamation-circle
  {%- elsif include.type == 'danger' -%}
  fa-exclamation-triangle
  {%- elsif include.type -%}
  fa-{{ include.type }}
  {%- endif -%}
  {%- endcapture -%}
  <i class="fa {{ icon }}"></i>
  {% if include.title and include.title != '' %}
  <h3>{{ include.title }}</h3>
  {% endif %}
  {{ include.content | markdownify }}
</div>
