<div class="doc-nav">
  <div class="version">
    {%- if site.latest_version_number == 'docs' -%}
      <div style='display: inline-flex; height: 2rem'></div>
    {%- else -%}
      <select onchange="navigate(this.value)" aria-label="Version picker">
        {%- assign latest_number =
          site.latest_version_number | times: include.version_factor | to_integer -%}
        {% for v in (1..latest_number) %}
          {%- assign v_number = v | divided_by: include.version_factor -%}
          {%- if v_number <= site.latest_version_number -%}
            {%- capture tag -%}v{{ v_number }}{%- endcapture -%}
            {%- assign toc_key = tag | replace: '.', '' -%}
            {%- assign toc = site.data.toc[toc_key] -%}
            {%- if toc -%}
              {%- capture target_doc_link -%}v{{ v_number }}/{{ toc.home }}{%- endcapture -%}
              <option {% if include.page_version_number == v_number %}selected="selected" {% endif %}
                value="{{ target_doc_link | relative_url }}">
                v{{ toc.version_number }} ({{ toc.status }})
              </option>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </select>
    {%- endif -%}

    <div class="mobile-nav">
      <select onchange="navigate(this.value)" aria-label="Navigate the docs menu">
        <option value>Navigate the docs...</option>
        {%- include mobile_toc.html toc=include.page_toc.contents
          version=include.page_version_number -%}
        <optgroup label="Actions">
          {% for mode in modes %}
            {%- if mode == 'dark' or site.modes contains mode -%}
              <option value="[{{ mode }}]">&nbsp;&nbsp;&nbsp;Toggle {{ mode }} mode</option>
            {%- endif -%}
          {%- endfor -%}
          <option value="[print]">&nbsp;&nbsp;&nbsp;Print this page</option>
          {%- capture edit_url -%}
          {{ site.github.repository_url }}/edit/main{{ page.url | replace: '.html', '.md'  }}
          {%- endcapture -%}
          <option value="{{ edit_url }}">&nbsp;&nbsp;&nbsp;Edit this page</option>
        </optgroup>
      </select>
    </div>

    {%- if site.algolia.index_name -%}
      <div id="search-searchbar"></div>
      <div id="search-hits"></div>
      {% include algolia.html %}
    {%- endif -%}

    {%- if site.modes contains "internal" -%}
      <button class="internal-mode-toggle" onclick="toggleMode('internal')">
        <i id="internal-mode-icon" class="fa fa-user"></i>
      </button>
    {%- endif -%}
    <button class="dark-mode-toggle" onclick="toggleMode('dark')">
      <i id="dark-mode-icon" class="fa fa-sun-o"></i>
    </button>
  </div>
</div>
