<div class="doc-nav">
  <div class="version">
    {%- unless site.latest_version_number == 'docs' -%}
      <select onchange="navigate(this.value)" aria-label="Version picker">
        {%- assign latest_number =
          site.latest_version_number | times: include.version_factor | to_integer -%}
        {% for v in (1..latest_number) %}
          {%- assign v_number = v | divided_by: include.version_factor -%}
          {%- if v_number <= site.latest_version_number -%}
            {%- capture tag -%}v{{ v_number }}{%- endcapture -%}
            {%- assign toc_key = tag | replace: '.', '' -%}
            {%- assign toc = site.data.toc[toc_key] -%}
            {%- if toc -%}
              {%- capture target_doc_link -%}v{{ v_number }}/{{ toc.home }}{%- endcapture -%}
              <option {% if include.page_version_number == v_number %}selected="selected" {% endif %}
                value="{{ target_doc_link | relative_url }}">
                v{{ toc.version_number }} ({{ toc.status }})
              </option>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </select>
    {%- endunless -%}

    {%- assign modes = 'dark internal' | split: ' ' -%}
    {% for mode in modes %}
      {%- if mode == 'dark' or site.modes contains mode -%}
        <button class="{{ mode }}-mode-toggle" onclick="toggleMode('{{ mode }}')">
          <i id="{{ mode }}-mode-icon" class="fa"></i>
        </button>
      {%- endif -%}
    {%- endfor -%}

    <div class="mobile-nav">
      <select onchange="navigate(this.value)" aria-label="Navigate the docs menu">
        <option value>Navigate the docs...</option>
        {%- include mobile_toc.html toc=include.page_toc.contents
          version=include.page_version_number -%}
        <optgroup label="Actions">
          {% for mode in modes %}
            {%- if mode == 'dark' or site.modes contains mode -%}
              <option value="[{{ mode }}]">&nbsp;&nbsp;&nbsp;Toggle {{ mode }} mode</option>
            {%- endif -%}
          {%- endfor -%}
          <option value="[print]">&nbsp;&nbsp;&nbsp;Print this page</option>
          {%- capture edit_url -%}
          {{ site.github.repository_url }}/edit/main{{ page.url | replace: '.html', '.md'  }}
          {%- endcapture -%}
          <option value="{{ edit_url }}">&nbsp;&nbsp;&nbsp;Edit this page</option>
        </optgroup>
      </select>
    </div>
  </div>
</div>
