<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="{{ site.color }}">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.png' | relative_url }}">
  <link rel="stylesheet" href="/assets/css/icon_fallback.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {% assign css = 'style fb-app fb-docs standards' | split: ' ' %}
  {% for filename in css %}
  {%- capture stylesheet_url -%}
  /assets/css/{{ filename }}.css?v={{ site.github.build_revision }}
  {%- endcapture -%}
  <link rel="stylesheet" href="{{ stylesheet_url | relative_url }}">
  {% endfor %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&family=Inknut+Antiqua:wght@700">
  {%- assign js = 'toc gallery' | split: ' ' -%}
  {% for filename in js %}
  <script src="/assets/js/{{ filename }}.js"></script>
  {% endfor %}
  {% include section_image_styles.html page_version_number=include.page_version_number %}
  {% include part_hover_image_styles.html page_version_number=include.page_version_number %}
  {%- seo -%}
</head>
