<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="{{ site.color }}">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.png' | relative_url }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {% assign css = 'style fb' | split: ' ' %}
  {% for filename in css %}
  {%- capture stylesheet_url -%}
  /assets/css/{{ filename }}.css?v={{ site.github.build_revision }}
  {%- endcapture -%}
  <link rel="stylesheet" href="{{ stylesheet_url | relative_url }}">
  {% endfor %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inknut+Antiqua:700">
  {%- assign js = 'toc gallery' | split: ' ' -%}
  {% for filename in js %}
  <script src="/assets/js/{{ filename }}.js"></script>
  {% endfor %}
  {% include hover_image_styles.html page_version_number=include.page_version_number %}
  {%- seo -%}
</head>
