{%- assign version_hover_images = site.data.part_hover_images
  | where: "version_number", include.page_version_number | first -%}
{%- capture all_css_rules -%}
{%- for category in version_hover_images.bom -%}
{%- for image in category.parts -%}
a[href$="{{ image.image | split: "." | first | slugify }}#"]:hover::after {
  content: "";
  background-image: url('/v{{ include.page_version_number }}/bom/{{ category.category }}/_images/{{ image.image }}');
}
{% endfor %}
{%- endfor -%}
{%- endcapture -%}

<style>
{{ all_css_rules -}}
</style>
