{%- capture pages -%}
{% if item.pages and item.top != true %}pages{% endif %}
{%- endcapture -%}
{%- capture ul_path -%}{{ include.path or item.url }}{%- endcapture -%}
<ul id="{{ ul_path }}" class="{{ pages }}">
  {%- for item in include.toc -%}
  {%- capture path -%}{{ include.path }}/{{ item.url }}{%- endcapture -%}
  {% if item.top %}
  <h3>{{ item.title }}</h3>
  {%- else -%}
  {%- capture v_url -%}v{{ include.version }}{{ path }}{%- endcapture -%}
  {%- capture current -%}
  {%- if include.current contains v_url -%}current{%- endif -%}
  {%- endcapture -%}
  {%- capture parent -%}{%- if item.pages -%}parent{%- endif -%}{% endcapture %}
  <li id="{{ path }}-top" class="{{ parent }} {{ current }}">
    {%- if item.external -%}
    <a href="{{ item.url }}" target="_blank" rel="noreferrer">{{ item.title }}
      <i class="fa fa-external-link-square"></i>
    </a>
    {% else %}
    <a class="{{ current }}" href="{{ v_url | relative_url }}"
      onclick="openSectionState('{{ path }}')">{{ item.title }}</a>
    {%- if item.pages -%}
    <i class="fa fa-chevron-right" onclick="toggleSectionState('{{ path }}')"></i>
    {%- else -%}
    {%- assign parent_url = include.path -%}
    <script>initSectionState('{{ parent_url }}', '{{ current }}')</script>
    {%- endif -%}
    {% endif %}
  </li>
  {%- endif -%}
  {% if item.pages %}
  {% include toc.html toc=item.pages path=path current=include.current
    version=include.version %}
  {% endif %}
  {%- endfor -%}
</ul>
