{% assign product_line = site.title | remove: "FarmBot " | remove: " Documentation" %}

<h2>Variant specs</h2>

{% assign part_variants = page.variants | split: "|" %}
{% for variant in part_variants %}

<h3>{{ page.title }} - {{ variant }}</h3>

<table class="variant-spec-table">
  <!-- Spec rows -->
  {% for spec in page.specs %}
  {% if spec[1] contains "|" %}
  <tr>
    <td class="spec-name">{{ spec[0] }}</td>
    {% assign spec_values = spec[1] | split: "|" %}
    <td class="spec-value">
      <span class="{{ spec[0] | slugify }}">{{- spec_values[forloop.parentloop.index0] -}}</span>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
  <!-- Price row -->
  {% if page.price contains "|" %}
  <tr>
    <td class="spec-name">Price</td>
    {% assign prices = page.price | split: "|" %}
    <td class="spec-value">
      <span class="price">{{- prices[forloop.index0] -}}</span>
    </td>
  </tr>
  {% endif %}
  <!-- Quantity row -->
  {% if page.quantity.standard contains "|" %}
  <tr>
    <td class="spec-name">
      Quantity - {{ product_line }}
    </td>
    {% assign quantity_variations = page.quantity.standard | split: "|" %}
    <td class="spec-value" qty="{{ quantity_value }}">
      <span class="quantity">{{- quantity_variations[forloop.index0] -}}</span>
    </td>
  </tr>
  <tr>
    <td class="spec-name">
      Quantity - {{ product_line }} <span class='fb-xl-sticker'>XL</span>
    </td>
    {% assign quantity_variations = page.quantity.xl | split: "|" %}
    <td class="spec-value" qty="{{ quantity_value }}">
      <span class="quantity">{{- quantity_variations[forloop.index0] -}}</span>
    </td>
  </tr>
  {% endif %}
  <!-- Internal spec rows -->
  {% for internal_spec in page.internal-specs %}
  {% if internal_spec[1] contains "|" %}
  <tr class="internal">
    <td class="spec-name">{{ internal_spec[0] }}</td>
    {% assign internal_spec_values = internal_spec[1] | split: "|" %}
    <td class="spec-value">
      <span class="{{ internal_spec[0] | slugify }}">{{- internal_spec_values[forloop.parentloop.index0] -}}</span>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
</table>

{% endfor %}
