{%- if site.latest_version_number == 'docs' -%}
<div style='display: inline-flex; height: 2rem'></div>
{%- else -%}
  <select class="version-picker" onchange="navigate(this.value)" aria-label="Version picker">
    {%- assign latest_number =
      site.latest_version_number | times: include.version_factor | to_integer -%}
    {% for v in (1..latest_number) %}
      {%- assign v_number = v | divided_by: include.version_factor -%}
      {%- if v_number <= site.latest_version_number -%}
        {%- capture tag -%}v{{ v_number }}{%- endcapture -%}
        {%- assign toc_key = tag | replace: '.', '' -%}
        {%- assign toc = site.data.toc[toc_key] -%}
        {%- if toc -%}
          {%- capture target_doc_link -%}v{{ v_number }}/{{ toc.home }}{%- endcapture -%}
          <option {% if include.page_version_number == v_number %}selected="selected" {% endif %}
            value="{{ target_doc_link | relative_url }}">
            v{{ toc.version_number }}
          </option>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  </select>
{%- endif -%}