.ais-search-box {
  height: 2rem !important;
  max-width: 100%;
  margin-bottom: 15px;
  input {
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: none;
  }
}

.ais-hits--item {
  background: white;
  border: 2px solid #eee;
  border-radius: 5px;
  margin-bottom: 1rem!important;
  width: 100%;
  a {
    color: #4d4d4d;
    &:hover {
      color: black;
      &::after {
        display: none;
      }
    }
  }
  h2 {
    font-family: Inknut Antiqua;
    margin: 0;
    a {
      padding: 0;
    }
  }
  &:hover {
    background: #fafafa;
  }
}

.page-item {
  padding: 0.75rem 1rem!important;
  cursor: pointer;
}

.page-link .ais-Highlight {
  font-style: normal;
  text-decoration: underline;
}

.breadcrumbs {
  color: $mediumGray;
  display: block;
  margin-bottom: 0.5rem;
  opacity: 0.75;
  padding: 0;
}

.breadcrumb {
  font-size: 18px;
}

.breadcrumb .ais-Highlight {
  font-style: normal;
  font-weight: bold;
}

.page-snippet {
  table {
    overflow: scroll;
    max-height: 9rem;
    display: block;
  }
  max-height: 9rem;
  a {
    padding: 0;
  }
  img {
    max-width: 100%;
    max-height: 120px;
    display: block;
  }
  p {
    margin: 0;
  }
  .ais-Highlight {
    font-style: normal;
    font-weight: bold;
  }
  .page-snippet img {
    max-height: 150px;
    display: block;
  }
}

#search-searchbar {
  height: 2rem;
  float: right;
  text-align: center;
  @media (max-width: $md-screen-size) {
    height: unset;
    float: none;
    margin-top: 1rem;
  }
}

#search-hits {
  background: #f6f7f8;
  border-bottom: 1px solid #dadee2;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #dadee2;
  display: none;
  height: 25rem;
  margin-top: 4px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0.5rem 1rem 0;
  position: absolute;
  right: 0;
  width: calc(min(30rem, 100%));
  z-index: 1;
}

#search-hits.open {
  display: block;
}
