.ais-SearchBox {
  display: inline-block;
  position: relative;
  height: 2rem !important;
  max-width: 100%;
  input {
    border: none;
    border-radius: 5px;
    box-shadow: none;
    padding: 6px 10px 6px 35px;
    width: 100px;
    transition: width .2s ease;
    &:focus {
      outline: none;
      width: 150px;
    }
  }
  form {
    height: 0.5rem;
  }
}

.ais-SearchBox-submit,
.ais-SearchBox-loadingIndicator,
.ais-SearchBox-reset {
  position: absolute;
  background: none;
  fill: #bfc7d8;
  border: none;
  &:focus {
    outline: none;
  }
}

.ais-SearchBox-submit {
  pointer-events: none;
  left: 4px;
  top: 6px;
  svg {
    height: 18px;
    width: 18px;
  }
}

.ais-SearchBox-loadingIndicator,
.ais-SearchBox-reset {
  right: 4px;
  top: 4px;
  svg {
    height: 12px;
    width: 12px;
  }
}

.ais-Hits-list {
  padding: 0;
  margin: 0;
}

.ais-Hits-item {
  display: block;
  background: white;
  border: 2px solid #eee;
  border-radius: 5px;
  margin-bottom: 1rem!important;
  width: 100%;
  a {
    color: #4d4d4d;
    &:hover {
      color: black;
      &::after {
        display: none;
      }
    }
  }
  h2 {
    font-family: Inknut Antiqua;
    margin: 0;
    a {
      padding: 0;
    }
  }
  &:hover {
    background: rgba($site-color, 0.1);
    border-color: rgba($site-color, 0.1);
  }
}

.page-item {
  padding: 0.75rem 1rem!important;
  cursor: pointer;
}

mark {
  background: none;
  color: unset;
}

.page-link mark {
  font-style: normal;
  text-decoration: underline;
}

.breadcrumbs {
  color: $mediumGray;
  display: block;
  margin-bottom: 0.5rem;
  opacity: 0.75;
  padding: 0;
}

.breadcrumb {
  font-size: 18px;
}

.breadcrumb mark {
  font-style: normal;
  font-weight: bold;
}

.page-snippet {
  overflow: hidden;
  table {
    overflow: scroll;
    max-height: 9rem;
    display: block;
  }
  max-height: 9rem;
  a {
    padding: 0;
  }
  img {
    max-width: 100%;
    max-height: 120px;
    display: block;
  }
  p {
    margin: 0;
  }
  mark {
    font-style: normal;
    font-weight: bold;
  }
  .page-snippet img {
    max-height: 150px;
    display: block;
  }
}

#search-searchbar {
  height: 2rem;
  justify-self: right;
  text-align: center;
  @media (max-width: $md-screen-size) {
    grid-column: 1 / span 2;
  }
}

#search-hits {
  background: #f6f7f8;
  border-bottom-left-radius: 5px;
  display: none;
  max-height: calc(100vh - 60px);
  top: 60px;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  width: calc(min(30rem, 100%));
  z-index: 1;
}

#search-hits.open {
  display: block;
  padding: 0;
}

#search-hits.open.results {
  padding: 0.5rem 1rem 0;
}

#search-hits {
  .ais-Hits--empty {
    display: none;
  }
  &.results {
    .ais-Hits--empty {
      display: block;
      text-align: center;
      padding-bottom: 1rem;
    }
  }
}
