.banner {
  margin-top: 1rem;
  text-align: center;
  a {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #b94a48;
    background: #f2dede;
    border-radius: 5px;
    &:hover {
      color: #8b3735;
      background: #deacac;
    }
  }
}
