.callout {
  background: #f8f8f9;
  border-left: 0.25rem solid;
  border-color: #8b939c;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 1.3rem;
  i {
    float: left;
    line-height: 1.5rem;
    font-size: 1.1rem;
    margin-left: -0.25rem;
    opacity: 0.3;
  }
  h3,
  p {
    margin-top: 0;
    margin-left: 1.3rem;
  }
  h3 {
    font-weight: bold;
  }
  & > :last-child {
    margin-bottom: 0;
  }
  &.info {
    border-color: lighten($info_callout, 20%);
    background: lighten($info_callout, 60%);
    i,
    h3 {
      color: $info_callout;
    }
  }
  &.success {
    border-color: lighten($success_callout, 20%);
    background: lighten($success_callout, 60%);
    i,
    h3 {
      color: $success_callout;
    }
  }
  &.warning {
    border-color: lighten($warning_callout, 20%);
    background: lighten($warning_callout, 60%);
    i,
    h3 {
      color: $warning_callout;
    }
  }
  &.danger {
    border-color: lighten($danger_callout, 20%);
    background: lighten($danger_callout, 60%);
    i,
    h3 {
      color: $danger_callout;
    }
  }
}
