$dark_gray: #384248;

// Callouts
$info_callout: #1877a6;
$success_callout: #358036;
$warning_callout: #b55400;
$danger_callout: #bf0802;

// Dark mode
$white: #ffffff;
$offWhite: #dbdbdb;
$gray: #5c5c5c;
$mediumGray: #353535;
$darkGray: #171717;
$darkestGray: #1f1f1f;
