.content {
  display: grid;
  gap: 1.5rem;
  grid-template-rows: auto 1fr;
  width: 100%;
  @media (max-width: $md-screen-size) {
    gap: 1rem;
  }
  .page-header,
  main {
    margin: 0;
    padding: 0rem;
  }
  .page-header {
    background: unset;
    border-bottom: 1px solid #eee;
    display: grid;
    gap: 0 1rem;
    grid-template-columns: 1fr auto;
  }
  .page-name {
    color: $dark_gray;
    font-size: 1.9rem;
    text-align: left;
  }
  .page-controls {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    @media (max-width: $md-screen-size) {
      display: none;
    }
    a {
      border: none;
      border-radius: 5px;
      float: right;
      height: 50px;
      line-height: 50px;
      width: 50px;
      &:hover {
        background: rgba($site-color, 0.15);
        border: none;
      }
    }
  }
  .page-description {
    color: #6d757c;
    font-weight: normal;
    font-size: 1rem;
    grid-column: 1 / span 2;
    text-align: left;
    p {
      margin-top: 0;
    }
  }
}

.main-content {
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  font-size: 15px;
  @media (max-width: $md-screen-size) {
    grid-template-columns: 1fr;
  }
  .markdown-content {
    order: -1;
    @media (max-width: $md-screen-size) {
      order: 1;
    }
  }
  &.full-width {
    width: 100%;
    max-width: none;
  }
  img {
    border: 3px solid #eee;
    border-radius: 5px;
    max-height: 600px;
    &.emoji,
    &.value-icon {
      border: none;
      border-radius: 0;
    }
  }
  h1,
  h2,
  h3 {
    color: $dark_gray;
    font-family: Inknut Antiqua;
    a {
      position: relative;
      visibility: hidden;
    }
    .fa-anchor {
      position: absolute;
      left: -1.5rem;
      padding: 0.5rem;
      margin-top: 0.1rem;
      font-size: 0.75rem;
      color: #aaa;
    }
    &:hover {
      a {
        visibility: visible;
        &:hover:after {
          content: none;
        }
      }
    }
  }
  h1 {
    .fa-anchor {
      line-height: 1.1rem;
    }
  }
  h2 {
    .fa-anchor {
      line-height: 0.9rem;
    }
  }
  h3 {
    .fa-anchor {
      line-height: 0.5rem;
    }
  }
  iframe {
    max-width: 100%;
    margin-top: 1rem;
    border-radius: 5px;
    &[src*="youtube"] {
      aspect-ratio: 16/9;
    }
  }
  .highlight {
    display: grid;
  }
}

.main-content strong.internal,
.page-snippet strong.internal {
  display: none;
}

.main-content table {
  margin: 1rem auto;
  max-width: calc(100vw - 2rem);
}

.page-snippet table {
  margin: 0 auto;
}

.bom-table-container {
  overflow: scroll;
  width: 100%;
  border: #eee 3px solid;
  border-radius: 5px;
  table {
    display: table;
    border: none!important;
    margin: 0;
  }
}

.main-content table,
.page-snippet table {
  border: #eee 3px solid;
  border-collapse: initial;
  border-radius: 5px;
  thead, tfoot {
    background: #eeeeee;
  }
  tfoot {
    font-weight: bold;
  }
  th {
    text-align: left;
    vertical-align: bottom;
    &:empty {
      display: none;
    }
    &.farmbot-model {
      text-align: center;
      padding-bottom: 0;
      white-space: nowrap;
    }
    span.part-variant {
      background: #434343;
      border-radius: 4px;
      color: #f4f4f4;
      padding: 0px 4px;
      margin-right: 4px;
      font-weight: bold;
      white-space: nowrap;
    }
  }
  tr.internal {
    background: lighten(orange, 35%);
  }
  td {
    vertical-align: top;
    &.spec-name {
      font-weight: bold;
      text-transform: capitalize;
      white-space: nowrap;
    }
    &[qty="0"] span {
      background: lighten(red, 46%);
      border-radius: 3px;
      padding: 2px 12px;
      color: lighten(red, 20%);
    }
  }
  th, td {
    border: none;
    padding: 0.5rem 1rem;
    &.part {
      white-space: nowrap;
    }
    &.notes {
      min-width: 250px;
    }
    &.qty {
      text-align: center;
    }
    &.price, &.price-subtotal, &.cost, &.cost-subtotal {
      text-align: right;
    }
  }
  &.variant-spec-table {
    td.spec-value, th.spec-value {
      text-align: center;
      min-width: 220px;
      span.label {
        font-weight: bold;
        background: #eeeeee;
        color: #434343;
        border-radius: 3px;
        padding: 2px 7px;
      }
    }
  }
}

.page-header,
.main-content {
  a {
    color: $site-color;
    text-decoration: none;
    border-bottom: 2px solid rgba($site-color, 0.3);
    &:hover {
      color: darken($site-color, 10%);
      border-bottom-color: rgba($site-color, 0.5);
    }
    &.part {
      border-bottom-style: dotted;
      font-weight: bold;
    }
  }
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 17px;
}

.emoji {
  margin-bottom: -3px;
}

.tag {
  display: inline;
  margin-left: 1rem;
  padding: 0.15rem 0.4rem;
  border-radius: 3px;
  background: #fd6;
  color: $dark_gray;
  font-size: 0.8rem;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-family: sans-serif;
}

span.rev {
  display: none;
  margin-left: 0.25rem;
  padding: 0rem 0.25rem;
  border-radius: 3px;
  background: #434343;
  color: $offWhite;
  font-size: 0.8rem;
  font-weight: bold;
  font-style: normal;
  font-family: sans-serif;
}

footer.site-footer {
  background: #f6f7f8;
  border: none;
  padding: 1rem;
  text-align: center;
  p {
    margin: 0;
    a {
      color: $site-color;
      text-decoration: none;
      &:hover {
        color: darken($site-color, 10%);
        border-bottom: 2px solid rgba($site-color, 0.5);
      }
    }
  }
}