.content {
  padding-left: 1rem;
  position: relative;
  width: 100%;
  @media (max-width: $md-screen-size) {
    padding-left: 0;
  }
  .page-header,
  main {
    margin: 0;
    padding: 1rem;
  }
  .page-header {
    background: unset;
    color: unset;
    display: grid;
    gap: 0 1rem;
    grid-template-columns: 1fr auto;
    margin-bottom: 2rem !important;
    padding-bottom: 0 !important;
    padding-top: 0.5rem;
  }
  .page-name {
    color: $dark_gray;
    font-size: 1.9rem;
    text-align: left;
  }
  .page-controls {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    @media (max-width: $md-screen-size) {
      display: none;
    }
    a {
      border: none;
      border-radius: 5px;
      float: right;
      height: 50px;
      line-height: 50px;
      width: 50px;
      &:hover {
        background: #eee;
        border: none;
      }
    }
  }
  .page-description {
    border-bottom: 1px solid #eee;
    color: #6d757c;
    font-weight: normal;
    font-size: 1rem;
    grid-column: 1 / span 2;
    text-align: left;
    p {
      margin-top: 0;
    }
  }
}

.main-content {
  width: calc(#{$max-width-min} - #{$both-toc-width} - 4rem);
  @media (max-width: $lg-screen-size) {
    width: calc(#{$max-width-min} - #{$nav-toc-width} - 2rem);
  }
  @media (max-width: $md-screen-size) {
    width: 100vw;
  }
  font-size: 15px;
  padding-top: 0 !important;
  img {
    border: 3px solid #eee;
    border-radius: 5px;
    max-height: 600px;
    &.emoji,
    &.value-icon {
      border: none;
      border-radius: 0;
    }
  }
  h1,
  h2,
  h3 {
    color: $dark_gray;
    font-family: Inknut Antiqua;
    a {
      position: relative;
      visibility: hidden;
    }
    .fa-anchor {
      position: absolute;
      left: -1.5rem;
      padding: 0.5rem;
      margin-top: 0.1rem;
      font-size: 0.75rem;
      color: #aaa;
    }
    &:hover {
      a {
        visibility: visible;
        &:hover:after {
          content: none;
        }
      }
    }
  }
  h1 {
    .fa-anchor {
      line-height: 1.1rem;
    }
  }
  h2 {
    .fa-anchor {
      line-height: 0.9rem;
    }
  }
  h3 {
    .fa-anchor {
      line-height: 0.5rem;
    }
  }
  .markdown-toc-header {
    font-family: unset;
  }
  iframe {
    max-width: 100%;
    margin-top: 1rem;
    border-radius: 5px;
  }
}

.main-content table {
  margin: 1rem auto;
}

.page-snippet table {
  margin: 0 auto;
}

.main-content table,
.page-snippet table {
  border: #eee 3px solid;
  border-collapse: initial;
  border-radius: 5px;
  th {
    text-align: left;
    vertical-align: bottom;
    &:empty {
      display: none;
    }
  }
  td {
    vertical-align: top;
  }
  th, td {
    border: none;
    padding: 0.5rem 1rem;
  }
  tr.bom-total-row {
    background: #eeeeee;
  }
}

.page-header,
.main-content {
  a {
    color: $site-color;
    text-decoration: none;
    border-bottom: 2px solid rgba($site-color, 0.3);
    &:hover {
      color: darken($site-color, 10%);
      border-bottom-color: rgba($site-color, 0.5);
    }
  }
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 17px;
}

.emoji {
  margin-bottom: -3px;
}

.tag {
  display: inline;
  margin-left: 1rem;
  padding: 0.15rem 0.4rem;
  border-radius: 3px;
  background: #fd6;
  color: $dark_gray;
  font-size: 0.8rem;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-family: sans-serif;
}
