.doc-nav {
  background: #f6f7f8;
  border: none;
  padding: 0.25rem;
  a {
    display: inline-block;
    margin: 0;
    padding: 0.5rem;
    color: #7d7d8e;
    text-decoration: none;
    &:hover {
      color: #434343;
    }
    &.current-version {
      font-weight: bold;
    }
  }
  .mobile-nav {
    display: none;
    @media (max-width: $md-screen-size) {
      display: inline;
    }
    float: right;
    margin-right: 0.5rem;
    select {
      width: 11rem;
    }
  }
  .version {
    height: 2rem;
    select {
      background: white;
      border: 2px solid #eee;
      border-radius: 5px;
      cursor: pointer;
      height: 2rem;
      margin-left: 1rem;
      padding: 0 .5rem;
      @media (max-width: $md-screen-size) {
        margin-left: 0.5rem;
      }
    }
    @media (max-width: $md-screen-size) {
      height: unset;
    }
  }
}
