.doc-nav {
  background: #f6f7f8;
  border: none;
  a {
    display: inline-block;
    margin: 0;
    padding: 0.5rem;
    color: #7d7d8e;
    text-decoration: none;
    &:hover {
      color: #434343;
    }
    &.current-version {
      font-weight: bold;
    }
  }
  .mobile-nav {
    display: none;
    justify-self: right;
    @media (max-width: $md-screen-size) {
      display: block;
    }
    select {
      width: 11rem;
    }
  }
  .version {
    padding: 0.25rem 1.5rem;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 1rem;
    align-items: center;
    select {
      background: white;
      border: 2px solid #eee;
      border-radius: 5px;
      cursor: pointer;
      height: 2rem;
      padding: 0 .5rem;
    }
    @media (max-width: $md-screen-size) {
      gap: 0.5rem 1rem;
      grid-template-columns: auto 1fr;
      padding: 0.5rem 1rem;
    }
  }
}
