.gallery {
  display: grid;
  gap: 0.5rem 0.7rem;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem 0;
  .gallery-featured-image {
    grid-column: 1 / span 4;
    cursor: zoom-in;
    margin: auto;
  }
  .gallery-thumbnail {
    cursor: pointer;
    max-height: 10rem;
    margin: auto;
    &.featured {
      border-color: $darkGray;
    }
  }
  .fa-times-circle {
    display: none;
  }
  &.open {
    background: $darkestGray;
    cursor: zoom-out;
    height: 100vh;
    left: 0;
    position: fixed;
    top: -1rem;
    transition: background-color 0.1s ease;
    width: 100vw;
    z-index: 1;
    .gallery-featured-image {
      cursor: zoom-out;
      border: none;
      max-height: 100vh;
      max-width: 100%;
    }
    .gallery-thumbnail {
      display: none;
    }
    .fa-times-circle {
      display: block;
      position: absolute;
      right: 2rem;
      top: 2rem;
      cursor: pointer;
      font-size: 2rem;
      color: $offWhite;
      &:hover {
        color: darken($offWhite, 10%);
      }
    }
  }
}
