.hub-toc-all {
  width: 20rem;
  @media (max-width: $md-screen-size) {
    width: 100%;
  }
  &.ready {
    transition: margin .2s ease;
  }
  &.closed {
    margin-left: -21rem;
    margin-right: 2rem;
    @media (max-width: $md-screen-size) {
      margin: 0;
    }
    .hub-toc-header {
      @media (min-width: $md-screen-size) {
        grid-template-columns: auto 1fr;
      }
      button {
        order: 2;
        justify-self: right;
        margin-right: -3rem;
        @media (max-width: $md-screen-size) {
          order: unset;
          margin-right: 0;
          justify-self: left;
        }
        i {
          @media (min-width: $md-screen-size) {
            order: 2;
            margin-left: 2rem;
            justify-self: right;
          }
        }
      }
    }
    .hub-toc {
      @media (max-width: $md-screen-size) {
        height: 0;
        overflow: hidden;
      }
    }
  }
}
.hub-toc-header {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.25rem;
  margin-top: 1.75rem;
  @media (max-width: $md-screen-size) {
    margin-top: 0.5rem;
  }
  button {
    align-items: center;
    background: none;
    border: none;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 30px;
    line-height: 30px;
    padding: 0;
    width: 100%;
    &:hover {
      background: rgba($site-color, 0.1);
    }
    i {
      width: 30px;
    }
    h3 {
      margin: 0;
      text-transform: uppercase;
      justify-self: left;
      font-size: 1.1rem;
    }
  }
  .version-picker {
    justify-self: right;
    background: white;
    border: 2px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    height: 2rem;
    padding: 0 .5rem;
    &:hover {
      background: rgba($site-color, 0.05);
    }
  }
}
.hub-toc-all.ready .hub-toc {
  @media (max-width: $md-screen-size) {
    display: block;
  }
}
.hub-toc {
  @media (max-width: $md-screen-size) {
    display: none;
  }
  h3 {
    display: inline-block;
    text-transform: uppercase;
    padding-left: 8px;
    margin-bottom: .25rem;
    margin-top: 2rem;
    font-size: 1.1rem;
  }
  h3:first-child {
    display: none;
  }
  .tag {
    float: right;
    font-size: 0.65rem;
    margin-top: 0.1rem;
    padding: 0.15rem 0.4rem;
  }
  .fa-external-link-square {
    float: right;
    padding: 0.25rem 0.15rem;
  }
  .fa-chevron-right, .fa-external-link-square {
    color: rgba($dark_gray, 0.8);
  }
  ul:first-child {
    margin-top: 0.5rem;
  }
  ul,
  li {
    list-style-type: none;
    padding-inline-start: 0;
  }
  li {
    &.parent {
      &.current {
        .fa-chevron-right {
          color: #f3f3f3;
        }
      }
    }
  }
  a {
    border-radius: 5px;
    color: $dark_gray;
    display: block;
    padding: 0.25rem 0.5rem;
    &:hover {
      background: rgba($site-color, 0.1);
      color: $site-color;
      text-decoration: none;
      transition: transform 0.3s ease-out;
    }
    &.current {
      background: $site-color;
      color: #f3f3f3;
      font-weight: bold;
      &:hover {
        color: white;
      }
    }
  }
  .parent {
    position: relative;
    a {
      &:hover {
        background: rgba($site-color, 0.1);
      }
      &.current {
        background: $site-color;
        color: #f3f3f3;
        &:hover {
          background: $site-color;
          color: white;
        }
      }
    }
    .tag {
      margin-right: 1.5rem;
    }
    &.open {
      a {
        background: rgba($site-color, 0.07);
        font-weight: bold;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        &:hover {
          background: rgba($site-color, 0.1);
        }
        &.current {
          background: $site-color;
          &:hover {
            background: $site-color;
          }
        }
      }
      .fa-chevron-right {
        text-align: center;
        transform: rotate(90deg);
        width: 2.1rem;
        &:hover {
          transform: rotate(90deg) scale(1.25);
        }
      }
    }
    .fa-chevron-right {
      position: absolute;
      right: 0rem;
      text-align: center;
      top: 0rem;
      padding: 0.5rem;
      width: 2rem;
      cursor: pointer;
      transition: transform 0.3s ease-out;
      &:hover {
        transform: scale(1.25);
      }
    }
  }
  .pages {
    display: none;
    padding: 0.5rem;
    background: rgba($site-color, 0.07);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 0.5rem;
    a {
      color: $dark_gray;
      background: none;
      font-weight: normal;
      &:hover {
        color: $site-color;
        background: rgba($site-color, 0.1);
      }
      &.current {
        background: $site-color;
        color: #f3f3f3;
        font-weight: bold;
        &:hover {
          color: white;
        }
      }
    }
    &.open {
      display: block;
    }
  }
}
