.main-content .internal,
.page-snippet .internal {
  display: none;
}

body.internal {
  .internal {
    display: block;
  }
  tr.internal {
    display: table-row;
  }
  table.internal {
    border-color: orange;
  }
  th, td {
    &.cost, &.cost-subtotal {
      display: table-cell;
    }
    &.price, &.price-subtotal {
      display: none;
    }
  }
}
