@media print {
  iframe,
  nav,
  .doc-nav,
  .hub-toc-all,
  .page-toc-all,
  .page-controls a,
  .gallery-thumbnail.featured,
  #whats-next,
  #whats-next + ul,
  footer {
    display: none;
  }
  img {
    max-height: 25vh!important;
  }
  .callout,
  .gallery img {
    break-inside: avoid;
  }
  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }
}
