---
---

$info_callout: #1877a6;
$success_callout: #358036;
$warning_callout: #b55400;
$danger_callout: #bf0802;

$white: #ffffff;
$offWhite: #dbdbdb;
$gray: #5c5c5c;
$mediumGray: #353535;
$darkGray: #171717;
$darkestGray: #1f1f1f;

.dark-mode-toggle {
  visibility: hidden;
  &.visible {
    visibility: visible;
  }
  margin-bottom: 3rem;
  width: 4rem;
  height: 1.5rem;
  border: none;
  border-radius: 1rem;
  &:focus {
    outline: none;
  }
  &:hover {
    &:after {
      transition: margin-left 0.3s ease-out;
    }
  }
  i {
    margin-left: -2rem;
  }
  &.dark {
    i {
      margin-left: 2rem;
    }
    &:after {
      margin-left: -0.5rem;
      background: $gray;
      box-shadow: inset 0 0 0px 2px rgba(0, 0, 0, 0.5);
    }
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    margin-top: -1.44rem;
    margin-left: 2.1rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: $offWhite;
    box-shadow: inset 0 0 0px 2px rgba(0, 0, 0, 0.05);
  }
}

body {
  font-size: 15px;
  transition: 0.2s ease-out;
  &.dark {
    color: $offWhite;
    background: $darkestGray;
    a {
      color: $offWhite;
      &:hover {
        color: $white;
      }
    }
    .banner a {
      color: darkred;
    }
    .doc-nav {
      background: $darkGray;
      border-color: $mediumGray;
      select {
        color: $offWhite;
        background: $mediumGray;
        border-color: $gray;
      }
    }
    .nav-toc {
      a:hover {
        background: $gray;
      }
      .parent.open a {
        background: $mediumGray;
      }
      .pages a {
        color: $offWhite;
        &:hover {
          color: $white;
        }
      }
      .dark-mode-toggle {
        background: black;
      }
    }
    h1, h2, h3 {
      color: $offWhite;
    }
    .content {
      .page-name {
        color: $offWhite;
      }
      .page-description {
        color: $offWhite;
        border-color: $gray;
      }
      #markdown-toc {
        a {
          color: darken($offWhite, 15%);
          &:hover {
            color: $white;
          }
        }
      }
      .callout {
        h3 {
          color: $darkGray;
        }
        background: $gray;
        &.info {
          h3 {
            color: lighten($info_callout, 35%);
          }
          background: darken($info_callout, 15%);
        }
        &.success {
          h3 {
            color: lighten($success_callout, 35%);
          }
          background: darken($success_callout, 15%);
        }
        &.warning {
          h3 {
            color: lighten($warning_callout, 35%);
          }
          background: darken($warning_callout, 15%);
        }
        &.danger {
          h3 {
            color: lighten($danger_callout, 35%);
          }
          background: darken($danger_callout, 15%);
        }
      }
      table {
        border-color: $gray;
      }
      #whats-next + ul {
        a {
          color: $offWhite;
          border-color: $mediumGray;
          &:hover {
            color: $white;
            background: $mediumGray;
          }
        }
        p {
          color: $offWhite;
        }
      }
      img {
        border-color: $gray;
      }
    }
    .site-footer {
      border-color: $gray;
    }
  }
}
