---
---

@import 'colors';

a[href^="{{ site.data.standards.ngss.url }}"]:hover::after,
a[href^="{{ site.data.standards.ccss.url }}"]:hover::after {
  background: $white;
  border: 3px solid $darkGray;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-top: -2rem;
  margin-left: 1rem;
  max-width: 350px;
  white-space: pre-wrap;
}

{% assign orgs = 'ngss ccss' | split: ' ' %}
{%- for org in orgs -%}
  {%- assign standards = site.data.standards[org] -%}
  {%- for standard in standards.data -%}
    {%- capture page -%}
    {%- include standard_page_path.txt org=org standard=standard -%}
    {%- endcapture -%}
      a[href$="{{ page }}"]:hover::after {
        {% if standard.description %}
          content: "{{ standard.title }} \00000a\00000a {{ standard.description }}";
        {% else %}
          content: "{{ standard.title }}";
        {% endif %}
      }
  {%- endfor -%}
{%- endfor -%}
