<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

{%- assign version_factor = site.version_factor | default: 1 -%}

{%- if site.latest_version_number == 'docs' -%}
  {%- assign page_version_number = 'docs' -%}
{%- else -%}
  {%- assign page_version_number =
    page.url | split: '/' | slice: 1 | join: '' | slice: 1, 999
    | replace: '.', '' | to_integer | divided_by: version_factor
    | default: site.latest_version_number -%}
{%- endif -%}

{%- include head.html page_version_number=page_version_number -%}

<body>
  <script>['dark', 'internal'].map(mode => initMode(mode))</script>

  {%- include hub_nav.html -%}

  {%- assign page_toc =
    site.data.toc | where: "version_number", page_version_number | first -%}

  {%- include banner.html page_version_number=page_version_number -%}

  <div class="all">
    <div class="hub-toc-all" id="hub-toc-all">
      <div class="hub-toc-header">
        <button onclick="toggleHubToc()" aria-label="Toggle the documentation hub table of contents">
          <i class='fa fa-list-ul'></i>
        </button>
        <h3>{{ site.title | remove: "Documentation" }}</h3>
        {%- include version_picker.html version_factor=version_factor
          page_version_number=page_version_number -%}
      </div>
      <div class="hub-toc">
        {% include toc.html toc=page_toc.contents current=page.url
          version=page_version_number %}
      </div>
    </div>
    <div class="content">
      <header class="page-header" role="banner">
        <h1 class="page-name">
          {{ page.title | default: site.title }}
          {%- for tag in page.tags -%}
            <i class="tag">{{ tag }}</i>
          {%- endfor -%}
        </h1>
        <div class="page-controls">
          {%- if page.specs -%}
            <a href="https://farm.bot/search?q={{ page.title | url_encode }}" target="_blank"
              aria-label="Buy this part from the FarmBot shop">
              <i class='fa fa-shopping-cart'></i>
            </a>
          {%- endif -%}
          {%- if page.cad -%}
            <a href="{{ page.cad }}" target="_blank"
              aria-label="View the CAD model for this part">
              <i class='fa fa-cube'></i>
            </a>
          {%- endif -%}
          <a href="javascript:window.print()"
            aria-label="Print this page">
            <i class='fa fa-print'></i>
          </a>
          <a href="{{ site.github.repository_url }}/edit/main{{ page.url
            | replace: '.html', '.md'  }}" target="_blank"
              aria-label="Edit this documentation page">
            <i class='fa fa-edit'></i>
          </a>
        </div>
        <div class="page-description">{{ page.description | markdownify }}</div>
      </header>
      {%- if page.full-width -%}
      {%- assign full_width = "full-width" -%}
      {%- endif -%}
      <main id="content" class="main-content {{ full_width }}" role="main">
        <div class="page-toc-all" id="page-toc-all">
          {%- if content contains '<h' -%}
          <div class="page-toc-header">
            <button onclick="togglePageToc()" aria-label="Toggle the page table of contents">
              <i class='fa fa-list-ul'></i>
              <h2>Page Contents</h2>
            </button>
          </div>
          {% include page_toc.html html=content class="page-toc" id="page-toc" h_max=2 %}
          {%- endif -%}
        </div>
        <div class="markdown-content">
          {%- if page.specs -%}
            {% include bom_gallery.html %}
            {% include spec_table.html %}
            {%- if page.variants -%}
              {% include variant_table.html %}
            {%- endif -%}
          {%- endif -%}
          {% include content.html content=content page_version_number=page_version_number %}
        </div>
      </main>
    </div>
  </div>
  <footer class="site-footer">
    <p>
      <a href="http://licensing.farm.bot/">
        FarmBot and its documentation are 100% open-source <span class="value-icon products"></span>
      </a>
    </p>
  </footer>

</body>

</html>
